.vertical-center {
    min-height: 70%;
    display: flex;
    align-items: center;
}

#mainBox {
	margin: 0 auto;
	width: 50%;
    box-shadow: 5px 5px 18px 2px #a5a5a5;
}

#mainBox > h4, h5 {
	color: #4f4f4f;
}

#charts {
	height: 22%;
	box-shadow: 0 5px 20px 0 #a5a5a5;
}

#charts > .row, .col-5, .col-6 {
	height: 100%;
}

.semi-circle {
	margin: 0 auto;
    border-radius: 10% 10% 50% 50%;
    background: #303030;
    text-align: center;
    height: 20%;
    width: 80%;
    align-items: center;
}

.semi-circle > p {
	font-size: 100%;
    color: white;
}

.border-dark {
	border-color: #a0a2a5 !important;
	border-width: 2px !important;
}